@charset "utf-8";

/* front.html専用css*/

/**
 * ***************************************
 * ページ全体に関わるCSSの設定
 * ***************************************
 */

/* フォント */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400; /* Noto Sans JPのレギュラーウェイトを指定 */
    background-image: url(../images/blue-sky-and-clouds_1417-1861.webp);
    width: 520px;
}
@media (min-width: 768px) {
    body {
        width: 1260px;
    }
}
/* おもな太字タグのフォントウェイト設定 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-top: 0;
}
/* ベースのリンクカラー */
a {
    color: #f30;
}
/* レスポンシブイメージと画像下スペース防止 */
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;/* 画像下のスペースを￥消す */
}

/**
 * ***************************************
 * モジュール単位のCSSの設定
 * ***************************************
 */

/* ロゴモジュール */
.logo {
    font-size: 10px;
    margin: 20px;
}
@media(min-width: 768px) {
    .logo {
        font-size: 16px;
        margin: 30px;
    }
}

/* 決め台詞モジュール*/
.word {
    font-size: 10px;
    margin: 100px 50px 0 50px;
}
@media(min-width: 768px) {
    .word {
        font-size: 16px;
        margin: 140px 320px 0 320px;
    }
}

/* 会員かどうか質問モジュール */
.question {
    font-size: 12px;
    margin: 40px 0 0 190px;
}
@media(min-width: 768px) {
    .question {
        font-size: 16px;
        margin: 60px 0 0 540px;
    }
}

/* [はい]/[いいえ]モジュール in メインコンテナ */
.answer {
    margin: 30px 0 0 136px;
}
@media(min-width: 768px) {
    .answer {
        margin: 60px 0 0 430px;
    }
}

.answer button {
    margin: 0 10px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}
@media(min-width: 768px) {
    .answer button {
        width: 180px;
        height: 60px;
        font-size: 20px;
    }
}