<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/front.css" rel="stylesheet">
</head>
<body>
<div class="logo">
    <h2>AOZORA バザ～る</h2>
</div>
<div class="word">
    <h1>今、必要な物、不要な物を適切な持ち主へ</h1>
</div>
<div class="question">
    <h2>会員の方ですか？</h2>
</div>
<form method="POST" th:action="@{/aozora/separate}" class="answer">
    <button name="judge" value="true">はい</button>
    <button name="judge" value="false">いいえ</button>
</div>
</form>
</body>
</html>